html, body {
  background-color: black; 
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 30px;
}

h1{
  justify-content: center;
  display: flex;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  color: white;
  border-top: 1px solid white;
  border-radius: 5px;
}

form{
  margin-top: 30px;
  display: flex; 
  flex: 2;
  justify-content: space-evenly;
}

button{
  margin-left: 10%;
  margin-top: 15px;
}

button:hover{
  cursor: pointer;
}

fieldset{
  flex: 2;
  background-color: black;
  border-color: grey;
  width: 80%;
  border-radius: 5px;
  border: none;
  border-bottom: 1px inset white;

}

legend{
  background-color: black;
  color: white;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

input{
  text-align: center;
  outline: none;
  border: 0px;
  width: 100%;
  font-size: 1.2em;
  background-color: black;
  color: lightgrey;
}

p{
  color: white;
}